<h1 class="page-heading">Projects <small>Sub heading here</small></h1>

<ol class="breadcrumb default rsaquo sm">
  <li><a href="#"><i class="fa fa-home"></i></a></li>
  <li><a href="#">Basic elements</a></li>
  <li class="active">Form elements</li>
</ol>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
