<!DOCTYPE html>
<html>
<head>
  <title>Saphyre</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>


<div class="wrapper">

  <!-- Navbar -->
  <%= render 'layouts/header' %>
  
  <!-- Sidebar Left -->
  <%= render 'layouts/sidebar' %>
  
  <!-- Sidebar Right -->
  <%= render 'layouts/right_nav' %>
  
  <!-- Page Content -->
  <div class="page-content">

    <div class="container">
    
      <!-- Flash Message -->
      <% flash.each do |name, msg| %>
        <div class="alert alert-warning alert-bold-border fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p><strong>Welcome!</strong></p>
          <p class="text-muted">
            <%= msg %>
          </p>
        </div>
      <% end %>

      <!-- Content -->
      <%= yield %>

    </div><!-- /.container -->
    
    <!-- FOOTER -->
    <%= render 'layouts/footer'  %>

  </div><!-- /.page-content -->
</div><!-- /.wrapper -->


</body>
</html>
